/* Start Common Styles*/
body{
    padding: 0%;
    margin: 0%;
}
.container{
    margin: 0% 5%;
}

.icons,.sectiontitle-design {
    box-sizing: border-box;
}
.sectiontitle-design .icons, .service-widgets:hover {
    background: #ec296b;
}
.sectiontitle-design .icons {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
}
hr{
    width: 150px;
    margin-bottom: 50px;
    margin-top: -15px;
    box-shadow: 2px 2px 5px pink;
} 
/* Start Common Styles*/

/* Start Header Style*/
header nav{
    background-color:#4F81B3;
    padding: 15px;
    font-size: 18px;
    position: fixed;
    top:0;
    z-index: 15;
    font-family: 'David Libre', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;

    display: inline-block;
    vertical-align: middle;

}
header ul{
    text-align: center;
    padding-top: 10px;
}
header ul li{
    display: inline;
    padding-right: 18px;
    margin: 10px;
}
header #logo{
    float: left;
}
header #login{
    float: right;
}
header ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
header ul li a:hover{
    color: #D190E2;
    font-weight: bold;
}
header #slider{
    background-image: url("../images/events.png");
    background-repeat: no-repeat;
    height: 520px;
    background-size: cover;
}
header #slider h1{
    font-weight: bold;
    color: #2B478B;
    font-family: 'David Libre', serif;
    position: relative;
    top: 27%;
    left: 7%;
    font-size: 50px;
}
/* End Header Style*/

/* Start Main Style */
main{
    margin: 55px 0px 50px 0px;
}
main .publicP{
    color: #0b2f54;
    font-family: 'David Libre', serif;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
}
main h1{
    text-align: center;
    margin: 50px 0px 20px 0px;
    color: #0b2f54;
    font-family: 'David Libre', serif;
    font-size: 27px;
    font-weight: bold;
    text-shadow: 2px 2px 5px pink;
    word-spacing: 5px;
    letter-spacing: 4px;
}
main .divOfdivs{ 
    padding-left: 4%;
}
main .event{
    display: inline-block;
    margin-right: 2%;
    width: 30%;
    border: solid 2px #e8e4e4; 
    border-radius: 5px;     
    box-shadow: 0 3px 3px 0 pink;
}
main .event:hover{
    border: solid 2px #e8e4e4; 
    border-radius: 5px;    
    box-shadow: 5px 3px 3px 0 #4F81B3;
}
main .event img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
    padding: 30px;
}
main .event h2{
    text-align: center;
    color: #0b2f54;
    font-family: 'David Libre', serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px 20px 0px;
}
main .event h5{
    text-align: left;
    color: #0b2f54;
    font-family: 'David Libre', serif;
    font-size: 18px;
    padding: 7px;
}

/* main .event p{
    font-size: 18px;
    color: #0b2f54;
    font-family: 'David Libre', serif;
    text-align: justify;
    padding: 10px;
} */
/* End Main Stye */


/* Start Footer Style*/
footer{
    background-color:#4F81B3;
    font-family: 'David Libre', serif;
    padding: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    box-shadow: 10px 4px 8px 6px #311b925c, 0 6px 20px 0 #E3F2FD;
}
.footer-left{
    float: left;
    /* width: 30%; */
    line-height: 35px;
}
 .footer-left h3{
    text-align: left;
    font-weight: bold;
}
.footer-left p{
    text-align: left;
}
.footer-left a{
    text-decoration: none;
    color: #FFF;
}  
.footer-center{
    /* width: 30%; */
    line-height: 15px;
    display: inline-block;
    text-align: left;
}
.footer-center p{
    display: inline;
}
.footer-center .footer-icons{
    padding-top: 22px;
}
.footer-center .footer-icons a{
    padding-right: 10px;
    color:  #F2F5F9;
}  
.footer-right{
    float: right;
    /* width: 30%; */
    text-align: left;
    line-height: 30px;
}
/* End Footer Style*/

